.box1
{   
    min-width: 350px;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid rgb(199, 199, 199);
    box-shadow: 0 0 18px #c9c9c9bd;
    animation: 2s ch linear infinite alternate;
    
}
@keyframes ch
{
    0%
    {
        box-shadow: 0 0 18px #29292988;
    }
}
#h2l
{
    color: #000000;
    position: absolute;
    top: 10%;
}
#h2f
{
    display: none;
}
.form
{
    background-color: rgb(233, 243, 245);
    inset: 2px;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form h2
{
    color: #000000;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inb
{
    position: relative;
    width: 100%;
    margin-top: 35px;
}
.inb input
{
    position: relative;
    width: 100%;
    padding: 20px 0px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inb span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #000000;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;

}
.inb input:valid ~ span,
.inb input:focus ~ span
{
    color: rgb(0, 0, 0);
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inb i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 2px;
    background: #ffcd06eb;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inb input:valid ~ i,
.inb input:focus ~ i
{
    height: 44px;
}
.links
{
    display: flex;
    justify-content: space-between;
}
.links a
{
    margin: 10px 0;
    font-size: 00.75em;
    color: #000000;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #ffcd06eb;
}
input[type="submit"]
{
    border: none;
    outline: none;
    background: #ffcd06eb;
    padding: 11px 25px;
    margin-top: 10px;
    border-radius: 4px;
    width: 100px;
    font-weight: 600;
    cursor: pointer;
    
}
input[type="submit"]:active
{
    opacity: 0.8;
}
